body {
  margin: 0;
  font: 14px/1.5 Arial;
  color: #666;
  background: #efefef;
}
.layout {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#page {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  background: #3c3c3c;
  width: 100%;
  text-align: center;
  padding: 60px 0 10px 0;
  color: #fff;
  margin-top: -10px;
}

header > h1 {
  font-size: 30px;
  margin-bottom: 0;
}

header > p {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

aside {
  width: 240px;
  border-right: 1px solid #ccc;
  position: relative;
  padding-top: 100px;
}

aside .avatar {
  text-align: center;
  position: absolute;
  top: -80px;
  width: 100%;
}

aside .avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #ccc;
}

section {
  border-bottom: 1px solid #ccc;
  margin: 15px 20px 0 20px;
  padding-bottom: 10px;
}

section h2 {
  color: #5c99ca;
  font-size: 16px;
}

section h3 {
  font-size: 16px;
  color: #333;
}

section a {
  color: #333;
}

.personal .item span:first-child {
  display: inline-block;
  width: 80px;
}

.personal .item span:last-child::before {
  content: ":";
  margin-right: 10px;
}

.item .icon {
  width: 20px;
  height: 40px;
}
.contact .item {
  display: flex;
  align-items: center;
}

.contact .item span {
  margin-left: 10px;
}

main {
  flex: 1;
  min-height: calc(100vh - 162px);
}

.blog .iconfont {
  font-size: 20px;
  padding: 10px;
}

.weixin {
  position: relative;
}
.weixin img {
  height: 150px;
  position: absolute;
  top: 20px;
  right: -20px;
}
.relation {
  height: 360px;
}
.git {
  margin-right: 10px;
}
/* .undergo {
  margin-bottom: -20px;
} */
/* .project h3 {
  margin-top: 20px;
} */
.applets-wrapper {
  position: relative;
  height: 160px;
}
.applets {
  height: 100px;
  position: absolute;
  right: 180px;
  top: 74px;
}
.effect {
  height: 150px;
  margin-top: 10px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 90px;
  }
  aside {
    width: 100%;
    padding-top: 0px;
  }
  aside .avatar img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .effect {
    height: 150px;
    margin-top: 10px;
    margin-right: 7px;
  }
 .applets {
    height: 60px;
    position: absolute;
    right: 58px;
    top: 109px;
}
}

.highlight1{
  color: orange;
}
/* .highlight2{
  color: limegreen;
}
.highlight3{
  color: orange;
}
.highlight4{
  color: #ec0db2;
}
.highlight5{
  color: #af14e2;
} */